<!DOCTYPE html>
<html ng-app="app">
  <head>
    <link rel="stylesheet" href="client/assets/stylesheets/styles.css"></link>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  </head>

  <body>

      <div id="mapContainer" ng-controller="mapsPageController">
        <render-map id="map"></render-map>
      </div>
      
      <div class="searchbar">
        <form class='search' ng-submit="submitSearch()">
          <input class='form-control' type="text" ng-model="searchField" placeholder="search"></input>
          <button type="submit">search</button>
        </form>
      </div>
      
      <div class="overlay">
        <!-- <div ng-controller="leftDiv" class="leftDiv"> -->
        <div class="leftDiv sidebar">
        LEFT
        </div>

        <!-- <div ng-controller="searchController" class="searchbar"> -->

        <!-- <div ng-controller="rightDiv" class="rightDiv"> -->
        <div class="rightDiv sidebar">
        RIGHT
        </div>
      </div>

  </body>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <!--added animate in case future groups want to us its functionality-->
  <script src="/bower_components/angular-animate/angular-animate.js"></script>
  <script src="client/app.js"></script>
  <script src="client/public/controllers/signup.js"></script>
  <script src="client/directives/renderMap.js"></script>
  <script src="client/public/services/httpService.js"></script>
  <script src="client/public/controllers/mapsPageController.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=visualization"></script>
  <script src="node_modules/socket.io-client/socket.io.js"></script>

</html> 
