<!DOCTYPE html>
<html ng-app="app">
  <head>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <!-- angular material style sheet -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="client/assets/stylesheets/styles.css"></link>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div id="mapContainer" ng-controller="mapsPageController">
      <render-map id="map"></render-map>
    </div>
      
    <div class="searchbar" ui-view="searchbar"></div>
    
    <div class="overlay">
      <!-- <div ng-controller="leftDiv" class="leftDiv"> -->
      <div class="leftDiv sidebar" ui-view="leftDiv">LEFT</div>


      <!-- <div ng-controller="rightDiv" class="rightDiv"> -->
      <!-- <div class="rightDiv sidebar" ui-view="rightDiv">RIGHT</div> -->
    </div>
  </body>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <!--added animate in case future groups want to us its functionality-->
  <script src="/bower_components/angular-animate/angular-animate.js"></script>

  <!-- angular material -->
  <script src="bower_components/angular-aria/angular-aria.min.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>

  <!-- this app -->
  <script src="client/app.js"></script>
  <script src="client/public/controllers/signup.js"></script>
  <script src="client/public/controllers/mapsPageController.js"></script>
  <script src="client/directives/renderMap.js"></script>
  <script src="client/public/services/httpService.js"></script>
  <script src="client/public/services/tweetMessageService.js"></script>
  <script src="client/public/services/mapService.js"></script>
  <script src="client/public/services/suggestionsService.js"></script>
  <script src="client/public/controllers/tweetsController.js"></script>
  <!-- <script src="client/public/controllers/filterController.js"></script> -->
  <script src="client/public/controllers/searchController.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=visualization"></script>
  <script src="node_modules/socket.io-client/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
</html> 
