<form class='search' ng-submit="submitSearch()">
  <!-- <input class='form-control' type="text" ng-model="searchField" placeholder="Search by hashtag"></input> -->
  <md-autocomplete
      class="form-control" 
      placeholder="Search by hashtag"
      md-search-text="data.searchText" 
      md-item-text="item.name"
      md-items="item in getMatches(data.searchText)">
    <md-item-template>
      <span>{{item.name}}</span>
    </md-item-template>
    <md-not-found>
     No matches found.
    </md-not-found>
  </md-autocomplete>
  <md-button type="submit" class="search-button">Search</md-button>
</form>
