body, html{
  position:relative;
  height: 100%;
}

* {
  /* baseline */
  border: 0px;
  margin: 0px;
  padding: 0px;
}

.overlay, #map {
  position: absolute;
  margin: 0px;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.overlay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.leftDiv {
  align-self: center;
  width: 10em;
  height: 50%;
}

.searchbar {
  position: absolute;
  top: 0;
  width: 100%;

  /* manage the blocks inside this container*/
  display:flex;
  flex-direction: row;
  justify-content: center;

  /* style stuff */
  background-color: #6F6F6F;
  opacity: .75;
}

.rightDiv {
  align-self: center;
  width: 10em;
  height: 50%;
}

.sidebar {
  background-color: #FFFFFF;
}
