body, html{
  position:relative;
  height: 100%;
}

* {
  /* baseline */
  border: 0px;
  margin: 0px;
  padding: 0px;
}

.toggle{
  align-self:center;
  width: 10px;
  border-radius: 0px 8px 8px 0px;
  font-size: 0.5em;
  background-color: #edf9ff;
  height:50%;
  color: gray;
  box-shadow: -1px 2px 3px gray;
}

.toggle:focus{
  outline:none;
}

#map {
  z-index: 5;
  position: absolute;
  margin: 0px;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.overlay {
  z-index: 1;
  height:100%;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.searchbar {
  z-index: 100;
  height: 50px;
  top: 0;
  position: absolute;
  width: 100%;
  /*border-bottom: 2px solid rgba(176, 182, 183, 0.4);*/

  /* manage the blocks inside this container*/
  display:flex;
  flex-direction: row;
  justify-content: center;

  /* style stuff */
  background: -webkit-linear-gradient(#1d5982, #003d66);
  opacity: .925;
  box-shadow: -2px 1px 1px 1px #a6a6a6;
}

.search {
  align-self: center;
  height: 40px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-button {
  height: 21px;
  width: 45px;
  border-radius: 2px;
  background: -webkit-linear-gradient(#CFDBE4, #9EACB5);
  font-size: .7em;
}

.form-control input:not {
  height: 17px;
  width: 20em;
  padding: 2px;
  border-radius: 2px;
}

input[type="text"], textarea, select { 
  outline: none;
}

.sidebar {
  z-index: 100;
  height: 50%;
  padding:0px;

  border-radius: 5px;
}

.leftDiv {
  display: flex; /*so child can be flex;*/
  flex-direction:row-reverse;
  align-self: center; 
  /*height: 26%;*/

  height: -webkit-fit-content;  
  margin-top: 47px;
  margin-left: 10px;


}

.rightDiv {
  align-self: center;
  width: 14em;
  /*height: 50%;*/
  margin-right: 10px;
  margin-bottom: 50px;
}

.tweets {
  align-self: flex-start;
  display: flex;
  width: 0px;
  flex-direction: column;
  /*height: 26%;*/

  /*height: -webkit-fit-content;  */
  /*margin-top: 47px;*/
  margin-left: -15px;
  background-color: #edf9ff;
  min-height: 100px;
  padding: 3px;
  box-shadow: -2px 2px 3px gray;
}

.user-tweet {
  margin-left: 3px;
  margin-bottom: 3px;
}

hr {
  clear: both;
  display: block;
  width: 94%;               
  background-color:LightSkyBlue;
  height: 1px;
  margin: 3px 0px;
  float: right;
}

.headers {
  display: flex;
  flex-direction: row;
}

.tweet-user {
  font-family: sans-serif;
  margin-left: 6px;
  margin-top: 5px;
  bottom: 2px;
  self-align: center;
}

.tweet-text {
  font-family: sans-serif;
  margin-left: 4px;
  margin-bottom: 4px;
  margin-top: 3px;
}

.animate-hide {
  transition: all linear 0.5s;
}

.user-image {
  float: left;
  width: 30px;
  height: 30px;
}

.footer {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.relation {
  font-size: 0.6em;
  font-weight: bold;
  font-family: sans-serif;
  color: #797979;
  align-self: left;
  padding: 3px;
}

.hash-strength {
  font-size: 0.6em;
  align-self: right;
  padding: 3px;
}

